.stm_icon_filter_title {
    overflow: hidden;
    margin-bottom: 22px;
}

.stm_listing_icon_filter {
    font-size: 0;
    margin: 0 -20px;

    &.stm_listing_icon_filter_12 {
        .stm_listing_icon_filter_single {
            width: 8.3%;
        }
    }

    &.stm_listing_icon_filter_9 {
        .stm_listing_icon_filter_single {
            width: 11.1%;
        }
    }

    &.stm_listing_icon_filter_6 {
        .stm_listing_icon_filter_single {
            width: 16.6%;
        }
    }

    &.stm_listing_icon_filter_4 {
        .stm_listing_icon_filter_single {
            width: 25%;
        }
    }

    &.stm_listing_icon_filter_3 {
        .stm_listing_icon_filter_single {
            width: 33.3%;
        }
    }

    &.stm_listing_icon_filter_2 {
        .stm_listing_icon_filter_single {
            width: 50%;
        }
    }

    &.stm_listing_icon_filter_1 {
        .stm_listing_icon_filter_single {
            width: 100%;
        }
    }

    &.active {
        margin: 0 -10px;

        .stm_listing_icon_filter_single {
            margin-bottom: 16px;

            .inner {
                padding: 0 10px;
            }

            .name {
                text-align: left;
            }

            &.non-visible {
                display: inline-block;
            }
        }
    }

    .stm_listing_icon_filter_single {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 44px;
        max-height: 300px;
        overflow: hidden;

        .inner {
            display: inline-block;
            max-width: 100%;
            vertical-align: top;
            padding: 0 20px;
            text-align: center;

            .image {
                padding: 0 10px;
                opacity: 0.9;
                min-height: 62px;
                line-height: 62px;
            }

            img {
                display: inline-block;
            }

            .name {
                margin-top: 5px;
                font-size: 13px;
                color: #777;
                text-decoration: underline;
            }
        }

        &:hover {
            .name {
                color: #cc6119;
            }

            .image {
                opacity: 1;
            }
        }

        &.non-visible {
            display: none;

            .name {
                text-align: left;
            }
        }
    }

    &.owl-carousel {

        .stm_listing_icon_filter_single {
            width: 100% !important;
            margin-bottom: 30px;

            .inner {
                .name {
                    margin-top: 0;
                }
            }
        }

        .owl-item {
            a {
                display: block;
                overflow: hidden;
                position: relative;
                width: 100%;
            }
        }

        .owl-controls {
            display: block;
            width: 100%;
            position: absolute;
            top: 38%;
            transform: translateY(-38%);
            margin: 0;

            .owl-nav {
                display: block;
                z-index: 100;
                width: 100%;
                position: relative;

                .owl-prev, .owl-next {
                    &:hover {
                        background: #cc6119;
                    }
                }

                .owl-prev {
                    display: block;
                    width: 55px;
                    height: 35px;
                    color: transparent;
                    font-size: 0;
                    position: absolute;
                    background: $gray-dd;
                    border-radius: 5px;
                    top: 50%;
                    left: -85px;
                    transform: translateY(-50%);

                    &:before {
                        display: block;
                        content: '\f053';
                        height: auto;
                        font-family: 'FontAwesome';
                        color: $white;
                        font-size: 16px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%);
                        font-weight: 400;
                        -moz-osx-font-smoothing: grayscale;
                        -webkit-font-smoothing: antialiased;
                        text-rendering: auto;
                    }
                }
                .owl-next {
                    display: block;
                    width: 55px;
                    height: 35px;
                    color: transparent;
                    font-size: 0;
                    position: absolute;
                    background: $gray-dd;
                    border-radius: 5px;
                    right: -85px;
                    top: 50%;
                    transform: translateY(-50%);

                    &:before {
                        display: block;
                        content: '\f054';
                        height: auto;
                        font-family: 'FontAwesome';
                        color: $white;
                        font-size: 16px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%);
                        font-weight: 400;
                        -moz-osx-font-smoothing: grayscale;
                        -webkit-font-smoothing: antialiased;
                        text-rendering: auto;
                    }
                }
            }
        }
    }
}

.stm_icon_filter_label {
    margin-top: 9px;
    float: right;
    margin-left: 15px;
    margin-right: 20px;
    color: #777;
    border-bottom: 1px dashed #777;
    line-height: 17px;
    cursor: pointer;

    &.active {
        color: #cc6119;
        border-bottom-color: #cc6119;
    }

    &:hover {
        color: #cc6119;
        border-bottom-color: #cc6119;
        cursor: pointer;
    }
}

@media (max-width: 991px) {
    .stm_listing_icon_filter {
        .stm_listing_icon_filter_single {
            text-align: center;

            .inner {
                max-width: 160px;
                width: auto;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 767px) {
    .stm_listing_icon_filter{
        &.stm_listing_icon_filter_4 {
            .stm_listing_icon_filter_single {
                width: 33%;
            }
        }
    }
}

@media (max-width: 500px) {
    .stm_listing_icon_filter{
        &.stm_listing_icon_filter_4 {
            .stm_listing_icon_filter_single {
                width: 50%;
            }
        }
    }
}